# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://dev:12345@localhost:3306/gpt_biz_mgmt?schema=public"
MYSQL_PASS="12345"
OPENAI_API_KEY="sk-..."
HUGGING_FACE="hf_..."
ZAPIER_KEY="sk-..."
PORT="3009"
PUBLIC_ENVIRONMENT="local"
JWT_SECRET="YourSecretKey"
AWS_ACCESS_KEY_ID="..."
AWS_SECRET_ACCESS_KEY="..."